body{
  background-image: url('https://wallpaperservices.azurewebsites.net/Power-Your-Dreams-Starfield/wide.png?download');
      background-size: cover; /* Para cubrir todo el fondo */
      /* Otras propiedades CSS opcionales como background-repeat, background-position, etc. */  
}

nav{
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  font-size: 20px;
  margin-top: 50px;
  z-index: 2; /* Asegúrate de que la barra de navegación esté por encima del contenedor */
  position: relative; /* Establece un contexto de posicionamiento */
}

.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu-horizontal > li:hover{
  background-color: rgb(0, 0, 0);
}

.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 300px;
  background-color: #ffffff;
}

.menu-horizontal li:hover .menu-vertical{
  display: block;
}

.menu-horizontal li:hover{
  background-color: rgb(195, 197, 211);
}

.menu-vertical li a{
  display: block;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}

input[type="text"], input[type="date"], input[type="number"] {
  width: 70%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 8px;
}

.container {
  position: absolute; /* Posicionamiento absoluto para centrar verticalmente */
  top: 50%; /* Ubica el contenedor en el 50% del borde superior */
  left: 50%; /* Ubica el contenedor en el 50% del borde izquierdo */
  transform: translate(-50%, -50%); /* Centra verticalmente y horizontalmente */
  width: 60%; /* Ancho del contenedor */
  max-width: 1200px; /* Máximo ancho del contenedor */
  margin-top: 80px; /* Espacio entre la barra de navegación y el contenedor */
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
  height: 100px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.input-container input {
  display: block; /* Cambiado a display: block para asegurar que estén uno debajo del otro */
  margin-bottom: 1px;
}